// NOTE: After create new button and add :not selector for default .btn
.btn {
	padding: 5px 18px;
	border-radius: 5px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	text-transform: capitalize;
	
	&.in_progress_post {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}

	&.disabled {
		border-color: transparent !important;
	}

	// Do not forget to add new created botton class here as :not selector!!!
	&.btn:not(.btn-primary):not(.btn-modern-primary):not(.btn-modern-green):not(.btn-blue):not(.btn-grey):not(.btn-black):not(.btn-modern-blue):not(.btn-modern-fiolet):not(.btn-modern-black):not(.btn-modern-red):not(.btn-modern-light-grey) {
		color: #555;
		border-color: #D3D3D3 #C7C7C7 #AEAEAE;

		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		@color: #ffffff;
		@color-hover: #f8f8f8;
		.button-gradient(@color, darken(@color, 2%));
		&:hover {
			.button-gradient(@color-hover, darken(@color-hover, 3%));
		}
		&:active {
			.button-gradient(@color-hover, darken(@color-hover, 5%));
		}
	}
}
.btn[disabled], .btn[disabled]:active, .btn[disabled]:visited, .btn[disabled]:focus {
	border-color: transparent;
}

// Create new standart colored buttons:
.btn-primary {
	.create-new-button(@red-font, #ffffff);
}

.btn-blue {
	.create-new-button(#5e97f6, #ffffff);//#
}

.btn-grey {
	.create-new-button(#818181, #ffffff);
}

.btn-black {
	.create-new-button(#333333, #ffffff);
}

// Create modern buttons:
.btn-modern-primary {
	.create-modern-button(@red-font, #ffffff);
}

.btn-modern-green {
	.create-modern-button(#0f7734, #ffffff);
}

.btn-modern-black {
	.create-modern-button(#000000, #ffffff);
}

.btn-modern-blue {
	.create-modern-button(#246bbb, #ffffff);
}

.btn-modern-fiolet {
	.create-modern-button(#3d5a98, #ffffff);
}

.btn-modern-red {
	.create-modern-button(#ff0000, #ffffff);
}

.btn-modern-light-grey {
	.create-modern-button(#dadada, #ffffff);
}

// functions:
.create-new-button(@color, @color-text) {
	@color-darken: spin(desaturate(darken(@color, 11%), 2%), -1);
	@color-text-shadow: desaturate(darken(@color, 8%), 1%);
	@color-border-bottom: spin(desaturate(darken(@color, 11%), 2%), -1);

	//hover
	@color-hover-border-bottom: darken(@color, 11%);
	@color-hover: saturate(lighten(@color, 3%), 2%);
	@color-hover-darken: spin(desaturate(darken(@color, 7%), 4%), -1);

	//active
	@color-active-border-bottom: darken(@color, 10%);
	@color-active: spin(desaturate(darken(@color, 5%), 4%), -1);
	@color-active-darken: spin(desaturate(darken(@color, 5%), 4%), -1);

	color: @color-text !important;
	border: 0;
	border-bottom: 1px solid @color-border-bottom;

	.button-gradient(@color, @color-darken);
	&:hover {
		color: @color-text;
		border-bottom: 1px solid @color-hover-border-bottom;
		text-decoration: none !important;
		.button-gradient(@color-hover, @color-hover-darken);
	}
	&:active, &:focus {
		color: @color-text;
		border-bottom: 1px solid @color-active-border-bottom;
		.button-gradient(@color-active, @color-active-darken);
		border-color: transparent;
		background-color: transparent;
	}
	&:visited, &:focus {
		color: @color-text;
		border-color: transparent;
		background-color: transparent;
	}
}

.create-modern-button(@color, @color-text) {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	font-family: arial, verdana, sans-serif, Lucida Sans;
	font-style: normal;
	color: @color-text !important;
	border-radius: 4px;
	background: @color;
	&.big {
		font-size: 14px;
		padding: 6px 40px;
	}
	&.btn-lcase {
		text-transform: none;
		font-size: 14px;
		font-weight: normal;
	}
	&:hover, &:active, &:visited, &:focus {
		opacity: .8;
		color: #fff;
		text-decoration: none !important;
	}
	.icon-upload {
		height: 12px;
	}
}

.button-gradient(@startColor, @endColor) {
	background: -moz-linear-gradient(top, @startColor 0%, @endColor 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor));
	background: -webkit-linear-gradient(top, @startColor 0%,@endColor 100%);
	background: -o-linear-gradient(top, @startColor 0%,@endColor 100%);
	background: -ms-linear-gradient(top, @startColor 0%,@endColor 100%);
	background: linear-gradient(to bottom, @startColor 0%,@endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@color, endColorstr=@endColor,GradientType=0 );
}

@-moz-keyframes fadeOutText {
	0% { color: transparent; text-shadow: none; }
	80% { color: transparent; text-shadow: none; }
	100% { color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27); }
}
@keyframes fadeOutText {
	0% { color: transparent; text-shadow: none; }
	80% { color: transparent; text-shadow: none; }
	100% { color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27); }
}
@-webkit-keyframes fadeOutText {
	0% { color: transparent; text-shadow: none; }
	80% { color: transparent; text-shadow: none; }
	100% { color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27); }
}

@-moz-keyframes moveToRight {
	80% { opacity: 1; -moz-transform: translateX(150px); }
	90% { opacity: 0; -moz-transform: translateX(200px); }
	100% { opacity: 0; -moz-transform: translateX(500px); }
}
@-webkit-keyframes moveToRight {
	80% { opacity: 1; -moz-transform: translateX(150px); }
	90% { opacity: 0; -moz-transform: translateX(200px); }
	100% { opacity: 0; -moz-transform: translateX(500px); }
}
@keyframes moveToRight {
	80% { opacity: 1; -moz-transform: translateX(150px); }
	90% { opacity: 0; -moz-transform: translateX(200px); }
	100% { opacity: 0; -moz-transform: translateX(500px); }
}