.alert {
	border-radius: 0;
}

.popover {
	color: @grey-font;
	font-size: 12px;
	max-width: 500px;
}


/*!
 * Imperavi redactor
 */
.redactor-toolbar {
	height: 31px !important;
	li a:hover {
		outline: none;
		background-color:#eee;
		color: #333;
	}
}
textarea.redactor {
	//do not show textarea until editor is initialized
	visibility: hidden;
}

/*!
 * Modal
 */
.modal {
	overflow-y: auto;
}
.modal-dialog {
	.title-close {
		position: absolute;
		top: 10px;
		right: 25px;
		color: #fff;
		cursor: pointer;
		z-index: 1100;
		&:hover {
			text-decoration: underline;
		}
	}
	.modal-content {
		.modal-title {
			background: none repeat scroll 0 0 @red-font;
			padding: 12px 25px;
			position: relative;
			line-height: 20px;
			color: #FFFFFF;
			font-size: 14px;
			font-weight: 100;
			text-shadow: none;

			.modal-title-logo{
				float: left;
				margin-right: 10px;

				img{
					vertical-align: bottom;
				}
			}
		}
		border-radius: 3px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		border: 0;
	}
}

span.ajax-get-modal, span.ajax-get, span.ajax-post {
	cursor: pointer;
	color: @blue;
	&:hover {
		text-decoration: underline;
	}
}

#score_float_container {
	z-index: 500;
	display: none;
//	height: 100px;
	position: absolute;
	top: 60px;
	right: 15px;
	padding: 15px;
	background: #404040;
	opacity: 0.9;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	width: 360px;
	@col-1: 230px;
	.col-1 {
		width: @col-1;
		float: left;
		color: #fff;
	}
	.col-2 {
		margin-left: @col-1;
		color: #fdd501;
		font-weight: bold;
		text-align: right;
	}
	.note {
		padding-top: 5px;
		font-size: 10px;
		color: #fff;
	}
}

a {
	color: @blue;
	&:visited, &:active, &:focus {
		color: @blue;
		text-decoration: none;
	}
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.blue-color {
	color: @blue-font !important;
}
.grey-color {
	color: @grey-font !important;
}
.red-color {
	color: @red-font !important;
}
.red-warn-color {
	color: #ff0000 !important;
}
.green-color {
	color: @green-font !important;
}
.black-color {
	color: @base-font !important;
}
.dark-color {
	color: #000 !important;
}
.white-color {
	color: #fff !important;
}
.bold {
	font-weight: bold;
}
.hover-mixin(@isTransition: false) {
	& when (@isTransition = true) {
		.transition-on;
	}
	&:hover {
		& when (@isTransition = true) {
			.transition-off;
		}
		background: @hover-base;
		cursor: pointer;
	}
}
.app-layout-main-bgfore-mixin {
	background: #fafafa;
}
.g-whitebox-1-mixin {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
	//-webkit-box-shadow: 2px 2px 4px 0 rgba(200, 200, 200, 0.2);
	//-moz-box-shadow:    2px 2px 4px 0 rgba(200, 200, 200, 0.2);
	//box-shadow:         2px 2px 4px 0 rgba(200, 200, 200, 0.2);
}
.howto-mixin {
	.app-widgets-gtitle {
		.td-col-3 {
			display: none;
			.r-title {
				font-style: normal;
				font-weight: normal;
			}
		}
	}
	&:hover {
		.app-widgets-gtitle {
			.td-col-3 {
				display: table-cell;
			}
		}
	}
}

.tutorialize-slide {
	.tutorialize-slide-control {
		display: none;
	}
	.tutorialize-slide-content {
		padding: 0;
	}
}

.dropdown-menu {
	li {
		> span {
			.hover-mixin(false);
			&:hover {
				text-decoration: none;
			}
			color: @base-font;
			text-decoration: none;
			display: block;
			padding: 7px 20px;
			clear: both;
			line-height: 1.428571429;
			white-space: nowrap;
		}
	}
}

.dropdown-backdrop {
	cursor: default;
}

.tutorialize-slide-control {
	display: none !important;
}

.divider-mixin {
	border-top: 1px solid #d8d9d9;
	border-bottom: 1px solid #fff;
}

.unselect-mixin {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.auth-input-mixin {
	padding: 9px 9px;
	height: 38px;
	line-height: 18px;
	font-size: 14px;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
	//border:none;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		padding-top: 1px;
		font-size: 14px;
		line-height: 14px;
		font-style: italic;
	}
	&:-moz-placeholder {
		font-size: 14px;
		font-style: italic;
	}
	&::-moz-placeholder {
		font-size: 14px;
		font-style: italic;
	}
	&:-ms-input-placeholder {
		font-size: 14px;
		font-style: italic;
	}
}


.g-notify-cnt {
	background: @red-font;
	color: #fff;
	border-radius: 7px;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 6px;
}

.g-gray-image {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: 0.7;
}

//colorpicker
.colorpicker-2x {
	//border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 253px;
	margin: 0;
	padding: 5px 0 5px 5px;
	.colorpicker-saturation {
		display: none;
	}
	.colorpicker-hue, .colorpicker-alpha {
		display: none !important;
	}
	.colorpicker-color {
		display: none;
	}
	&.bars {
		.colorpicker-saturation, .colorpicker-hue, .colorpicker-alpha{
			display: block !important;
		}
	}
	.colorpicker-selectors {
		height: 30px;
		padding-top: 0;
		margin-top: 0;
		i {
			width: 20px;
			height: 20px;
			&:first-child, &:nth-child(1) {
				border: 1px solid #e1e1e1;
			}
			&:nth-child(1):after {
				content: '\2715';
				position: relative;
				left: 4px;
				bottom: 4px;
				font-size: 18px;
				font-style: normal;
				color: #777;
			}
			margin: 2px;
			padding: 0;
		}
	}
}
.b-endless-native-progress {
	text-align: center;
	padding: 5px;
	color: @grey-font;
}