@top-menu-height: 46px;
@top-menu-hover-color: #f1f2f2;
@bottom-footer-height: 90px;

@base-font-size: 14px;
@blue: #2567c0;
@menu-link: #000;
@grey: #dae1e8;
@label-color: #777777;
@grey-font: #a1a1a1;
//@red-font: #c33a24;
@red-font: #c44512;
@blue-font: #0d5a94;
@orange-font: #fe7d18;
@green-font: #0b8f14;
@base-font: #333;
@hover-base: #f0f0f0;
@firm-blue: #396b8e;
@jeans-blue:#1167b8;
@box-line-grey: #dcdcdc;