.app-widgets-tabs-general {
	position: relative;
	height: 50px;
	//background: #dfffd3;
	ul, li, a, span {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	ul {
		li {
			position: relative;
			float: left;
			a, span {
				color: @menu-link;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				padding: 0 17px;
				line-height: 50px;
				&:hover {
					text-decoration: none;
				}
			}
			&:hover {
				background: @hover-base;
			}
			&.active {
				a, span {
					color: @red-font;
				}
			}
		}
		.disabled {
			&:hover {
				background: transparent;
			}
			a, span {
				cursor: default;
				color: @grey-font;
			}
		}
	}
}